<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Sawariya Event ManageMent Company</title>
</head>
<body>
    <div class="header">
        <div class="company">
            <h1>Sawariya Events Management Company</h1>
        </div>
        <div class="menu">
            <div class="name">
                <a href="/">Home</a>
            </div>
            <div class="name">
                <a href="/admin-login">Admin Login</a>
            </div>
            <div class="name">
                <a href="https://wa.me/916203932586" target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="slider">
        <div class="header1">
            <img src="/images/download.jpg" alt="SEM">
        </div>
        <div class="header2">
            <img src="/images/Screenshot 2023-09-19 175414.png" alt="SEM">
        </div>
        <div class="header3">
            <img src="/images/Screenshot 2023-09-19 175243.png" alt="SEM">
        </div>
    </div>
    <div class="container">
        <form action="/user-login">
            <button class="user-btn">User Login</button>
        </form>
        <form action="/admin-login">
            <button class="admin-btn">Admin Login</button>
        </form>
    </div>
    <div class="footer">
        <div class="about">
            <h2>We are SEM Company</h2>
        </div>
        <div class="links">
            <ul>
                <li>About Us</li>
                <li>Contact us</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="Contact">
            <p>No. 6203932586</p>
            <p>Email: Abhishek@gmail.com</p>
        </div>
    </div>
</body>
</html>