<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>login/Register</title>
</head>
<body>
    <div class="header">
        <div class="company">
            <h1>Sawariya Events Management Company</h1>
        </div>
        <div class="menu">
            <div class="name">
                <a href="/">Home</a>
            </div>
            <div class="name">
                <a href="/admin-login">Admin Login</a>
            </div>
            <div class="name">
                <a href="/user-login">User Login</a>
            </div>
            <div class="name">
                <a href="https://wa.me/916203932586" target="_blank">Contact Us</a>
            </div>
        </div>
        
    </div>
    <div class="main">
        <div class="container">
            <h2><%= user %> Login - SEM Company</h2>
            <form method="post" action="/<%= user %>/login" class="form">
                <input type="text" placeholder="Enter username" name="userName">
                <input type="password" placeholder="Enter password" name="passWord">
                <button>Login Now!</button>
                <p>Not have an account? <a href="/register"><b>Register Now!</b></a></p>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="about">
            <h2>We are SEM Company</h2>
        </div>
        <div class="links">
            <ul>
                <li>About Us</li>
                <li>Contact us</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="Contact">
            <p>No. 6203932586</p>
            <p>Email: Abhishek@gmail.com</p>
        </div>
    </div>
</body>
</html>