<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit </title>
</head>
<body>
    <div class="profile_pic" style="background-color: aqua; height: 200px; width: 400px;">
        <img src="/<%= newUser.aadhar_card %>" alt="">
        <h2>Registration Successfull</h2>
    </div>
</body>
</html>