<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/register.css">
    <title>New User Registration</title>
</head>
<body>
    <div class="header">
        <div class="company">
            <h1>Sawariya Events Management Company</h1>
        </div>
        <div class="menu">
            <div class="name">
                <a href="/">Home</a>
            </div>
            <div class="name">
                <a href="/admin-login">Admin Login</a>
            </div>
            <div class="name">
                <a href="https://wa.me/916203932586" target="_blank">Contact Us</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form">
            <form method="post" action="/register/validation">
                <input type="text" name="name" placeholder="Enter your Name">
                <input type="email" name="email" placeholder="Enter your email id">
                <input type="password" name="password" placeholder="Enter password">
                <input type="date" name="date" placeholder="Select today date">
                <input type="file" name="Aadhar_card" placeholder="Upload your Aadhar Card">
                <input type="file" name="Pan_card" placeholder="Upload your Pan Card">
                <input type="file" name="Profile_pic" placeholder="Upload your profile picture">
                <p>I agree to the SEM <a href="#">Term's & Conditions</a></p>
                <input class="checkbox" type="checkbox" name="terms_check">
                <p>I accept the SEM <a href="#">Privacy Policy</a></p>
                <input class="checkbox" type="checkbox" name="privacy_check">
                <button type="submit"><b>Register Now!</b></button>
            </form>
        </div>
        <div class="slider">
            <div class="img1">
                <img src="/images/Screenshot 2023-09-19 175414.png" alt="">
            </div>
            <div class="img2">
                <img src="/images/Screenshot 2023-09-19 175243.png" alt="">
            </div>
            <div class="img3">
                <img src="/images/download.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="about">
            <h2>We are SEM Company</h2>
        </div>
        <div class="links">
            <ul>
                <li>About Us</li>
                <li>Contact us</li>
                <li>Privacy Policy</li>
            </ul>
        </div>
        <div class="Contact">
            <p>No. 6203932586</p>
            <p>Email: Abhishek@gmail.com</p>
        </div>
    </div>
</body>
</html>